:root{
    --white: #FFF;
    --light-grey: #312f31;
    --grey: #232123;
    --dark-grey: #1c1a1c;
    --orange: #fc6232;
}

*,
*::after,
*::before{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    font-family: 'roboto' , sans-serif;
}

.header{
    position: relative;
    height: 100vh;
    width: 100%;
}

#particles-js{
    background-color: var(--dark-grey);
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.navbar{
    height: 80px;
    width: 100%;
    padding: 0 4%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}

    .navbar__links{
        background-color: var(--light-grey);
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: inset -8px  0px var(--orange);
        padding-left: 8%;
        padding-top: 80px;
    }

        .navbar__link{
            height: 3em;
            margin: 1em 0;
            padding-left: 1em;
            display: flex;
            align-items: center;
            position: relative;
        }

            .navbar__link > a{
                color: var(--white);
                letter-spacing: .1em;
                font-weight: 600;
            }

        .navbar__link.active{
            background-color: var(--orange);
            border-radius: 10px 0 0 10px;
        }

.btn__menu{
    height: 20px;
    width: 34px;
    position: relative;
    cursor: pointer;
    z-index: 10;
}

    .btn__menu--span{
        position: absolute;
        content: '';
        background: var(--white);
        height: 4px;
        width: 30px;
        transition: all 400ms ease; 
        z-index: 101;
    }

        .span2{
            top: 8px;
        }

        .span3{
            top: 16px;
        }

        .navbar.active .span1{
            transform: rotate(140deg);
            top: 10px;
        }

        .navbar.active .span2{
            opacity: 0%;
        }

        .navbar.active .span3{
            transform: rotate(-140deg);
            top: 10px;
        }