
:root{
    --black: #000;
    --white: #FFF;
    --soft-blue: hsl(231, 69%, 60%);
    --soft-red: hsl(0, 94%, 66%);
    --grayish-blue: hsl(229, 8%, 60%);
    --very-dark-blue: hsl(229, 31%, 21%);
    --very-dark-blue-value: 229, 31%, 21% ;
}

/* ----reset----- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Rubik', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* ------------navbar-------------------- */

.navbar{
    width: 100%;
    max-width: 1440px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 4%;
    margin: 0 auto;
    position: relative;
    z-index: 100;
}

    .logo__img--mobile{
        display: none;
    }

.navbar.visible{
    background-color: hsla(var(--very-dark-blue-value), .9);
    transition: 1s ease-in-out;
}

.navbar.visible .links{
    background-color: hsla(var(--very-dark-blue-value), .9);
    /* top: 80px; */
    left: 0;
    transition: 1s ease-in-out;
}

.navbar.visible .logo__img{
    display: none;
}

.navbar.visible .logo__img--mobile{
    display: block;
}

.navbar.visible .btn__menu--span{
    background-color: var(--white);
}

    .links{
        background-color: var(--very-dark-blue);
        height: calc( 100vh - 80px );
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

        .navbar__links{
            height: 50%;
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .navbar__links:first-child{
                border-top: 1px solid hsla( 255 , 100%, 100%, .5);
            }

            .navbar__link, .navbar__link--login{
                height: 25%;
                width: 100%;
                display: flex;
            }

                .navbar__link>a{
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--white);
                    text-transform: uppercase;
                    letter-spacing: .2em;
                    border-bottom: 1px solid hsla( 255 , 100%, 100%, .5);
                }

                .navbar__link:hover>a{
                    color: var(--soft-red);
                }

                .navbar__link--login>a{
                    height: 80%;
                    width: 100%;
                    margin-top: 10%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid var(--white);
                    border-radius: 5px;
                    color:var(--white);
                    font-size: calc(1em + 1vw);
                    font-weight: 500;
                    text-transform: uppercase;
                    letter-spacing: .2em;
                }

                .navbar__link--login>a:hover{
                    background-color: transparent;
                    color: var(--soft-red);
                    border: 2px solid var(--soft-red);
                }

                .social{
                    width: 40%;
                    height: 20%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                }

    .btn__menu{
        height: 24px;
        width: 30px;
        margin-right: 2vw;
        position: relative;
        cursor: pointer;
    }

        .btn__menu--span{
            position: absolute;
            content: '';
            background: var(--very-dark-blue);
            height: 5px;
            width: 34px;
            /* border-radius: 5px; */
            transition: all 400ms ease; 
            z-index: 101;
        }

            .span2{
                top: 10px;
            }

            .span3{
                top: 20px;
            }

            .navbar.visible .span1{
                transform: rotate(140deg);
                top: 10px;
            }

            .navbar.visible .span2{
                opacity: 0%;
            }

            .navbar.visible .span3{
                transform: rotate(-140deg);
                top: 10px;
            }

/* -----------HEADER------------------------- */

.header{
    height: 100vh;
    max-height: 1000px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    overflow: hidden;
}

    .header__images{
        height:50%;
        min-width: 300px;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .header__img{
            width: 100%;
            height: auto;
            position: relative;
            z-index: 10;
        }

        .header__img--bg{
            background-color: var(--soft-blue);
            height: 60%;
            width: 80%;
            position: absolute;
            top: 30%;
            left: 20%;
            border-radius: 100px 0 0 100px;
        }

    .header__card{
        height: 50%;
        /* min-width: 320px; */
        width: 100%;
        padding: 0 4%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

        .header__title{
            font-size: calc( 1em + 4vw );
            text-align: center;
            color: var(--very-dark-blue);
        }

        .header__paragraph{
            text-align: center;
            font-size: calc( .8em + .6vw);
            line-height: 2em;
            font-weight: 500;
            color: var(--grayish-blue);
        }

        .header__card--links{
            width: 100%;
            height: 20%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .header__link, .header__link--active{
                height: 70%;
                width: 45%;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                font-size: calc( .8em + .2vw );
                color: var(--very-dark-blue);
                font-weight: 500;
            }

            .header__link:hover{
                border: 2px solid var(--very-dark-blue);
            }

            .header__link--active{
                background-color:  var(--soft-blue);
                color: var(--white);
            }

            .header__link--active:hover{
                background-color: transparent;
                border: 2px solid var(--soft-blue);
                color: var(--soft-blue);
                font-weight: 600;
            }

/* -----------------Features---------------------------- */

.features{
    width: 100%;
    /* padding: 0 4%; */
    margin-top: 2em;
}

    .features__card{
        width: 100%;
        padding: 0 4%;
    }

        .features__title{
            text-align: center;
            color: var(--very-dark-blue);
            font-size: calc( 1.4em + .6vw );
        }

        .features__paragraph{
            width: 100%;
            text-align: center;
            margin: 1em 0;
            font-size: calc( .9em + .4vw);
            line-height: 1.5em;
            color: var(--grayish-blue);
        }

    .keypad{
        width: 92%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid hsla( var(--very-dark-blue-value), .4);
        margin: 3em auto 0;
    }

        .option{
            height: 50px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid hsla( var(--very-dark-blue-value), .4);
            cursor: pointer;
            position: relative;
            color: hsla( var(--very-dark-blue-value), .8);
            font-weight: 600;
        }

        .option:hover{
            color: var(--soft-red);
        }

        .option.active{
            color: hsla( var(--very-dark-blue-value), 1);
        }

        .option.active::after{
            background-color: var(--soft-red);
            content: "";
            height: 4px;
            width: 50%;
            position: absolute;
            bottom: 0;
        }

        .article{
            display: none;
            margin-top: 4em;
        }

        .article.active{
            height: 80vh;
            width: 100%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }

            .article__images{
                height: 50%;
                width: 100%;
                min-width: 300px;
                position: relative;
                z-index: 8;
                display: flex;
                justify-content: center;
                align-items: center;
            }

                .article__img{
                    width: 90%;
                    height: 80%;
                    position: relative;
                    z-index: 8;
                }

                .article__img--bg{
                    background-color: var(--soft-blue);
                    height: 60%;
                    width: 80%;
                    position: absolute;
                    top: 30%;
                    right: 24%;
                    border-radius: 0 100px 100px 0;
                }
            
            .article__card{
                height: 50%;
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 0 4%;
            }

                .article__title{
                    margin-top: 2em;
                    text-align: center;
                    color: var(--very-dark-blue);
                    font-size: calc( 1.4em + 1vw );
                }

                .article__paragraph{
                    margin: 2em 0;
                    text-align: center;
                    font-size: calc( 1em + .2vw );
                    color: var(--grayish-blue);
                    line-height: 1.2em;
                }

                .article__link{
                    display: none;
                }

/* ------------------DOWNLOAD THE EXTENSION----------------------------- */

.download{
    /* background-color: orange; */
    width: 100%;
    /* display: flex; */
    margin-top: 4em;
}

    .download__text{
        width: 100%;
        padding: 0 4%;
    }

        .download__title{
            color: var(--very-dark-blue);
            text-align: center;
            font-size: calc( 1.4em + .6vw );
        }

        .download__paragraph{
            width: 100%;
            text-align: center;
            margin: 1em 0;
            font-size: calc( .9em + .4vw);
            line-height: 1.5em;
            color: var(--grayish-blue);
        }

    .download__options{
        width: 100%;
        margin: 2em 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

        .download__card{
            height: 50vh;
            width: 80%;
            border-radius: 5px;
            box-shadow: 0px 0px 10px 1px var(--grayish-blue);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin: 1em 0;
        }

            .download__info{
                height: 70%;
                text-align: center;
                width: 100%;
                /* border-bottom: 6px dotted var(--grayish-blue); */
            }

                .download__name{
                    margin: 2em 0 .5em ;
                    font-size: calc( 1.2em + .4vw );
                    color: var(--very-dark-blue);
                }

                .download__requeriments{
                    font-size: calc( .9em + .2vw );
                    color: var(--grayish-blue);
                }

            .download__link{
                background-color: var(--soft-blue);
                height: 14%;
                width: 80%;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--white);
            }

            .download__link:hover{
                background-color: transparent;
                border: 2px solid var(--soft-blue);
                color: var(--soft-blue);
            }

/* ---------------------------FAQ-------------------------------------- */

.faq{
    width: 100%;
    margin-top: 6em;
    margin-bottom: 6em;
}

    .faq__info{
        width: 100%;
        padding: 0 4%;
        text-align: center;
    }

        .faq__title{
            color: var(--very-dark-blue);
            text-align: center;
            font-size: calc( 1.4em + .6vw );
            width: 80%;
            margin: 0 auto;
        }

        .faq__paragraph{
            width: 100%;
            text-align: center;
            margin: 1em 0;
            font-size: calc( .9em + .4vw);
            line-height: 1.5em;
            color: var(--grayish-blue);
        }

    .faqs{
        width: 100%;
        padding: 0 4%;
        margin-top: 3em;
    }

        .ask__container{
            width: 100%;
            border-bottom: 1px solid var(--grayish-blue);
        }

            .ask{
                min-height: 4em;
                width: 100%;
                position: relative;
                cursor: pointer;
                display: flex;
                align-items: center;
                color: var(--very-dark-blue);
                font-size: calc( 1em + .1vw);
            }

            .ask__arrow , .ask__arrow--active{
                position: absolute;
                right: 0;
                top: calc( 2em - 3px);
            }

            .ask__arrow--active{
                display: none;
            }

            .ask__container:hover > .ask{
                color: var(--soft-red);
            }

            .answer{
                max-height: 0;
                overflow: hidden;
                width: 100%;
                color: var(--grayish-blue);
                position: relative;
                transition: all 650ms;
            }

            .ask__container.active .answer{
                margin-top: 1em;
                margin-bottom: 2em;
                max-height: 10em;
            }

            .ask__container.active .ask__arrow{
                display: none;
            }

            .ask__container.active .ask__arrow--active{
                display: block;
                animation: rotacion .5s forwards;
            }

        .faq__link{
            background-color: var(--soft-blue);
            height: 3em;
            width: 40%;
            margin: 2em auto;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--white);
        }

/* --------------------------EMAIL---------------------------------- */

.email{
    background-color: var(--soft-blue);
    width: 100%;
    padding: 3em 4% ;
    color: var(--white);
}

    .email__container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

        .sub__info{
            width: 100%;
            text-align: center;
        }

        .info{
            width: 100%;
            text-align: center;
            margin: 1em 0;
            font-size: calc( 1em + 1vw);
        }

        .email__input{
            margin: 1em 0 ;
            width: 92%;
            border-radius: 5px;
            padding-left: 1em;
            height: 3em;
            border: none;
            color: var(--grayish-blue);
            position: relative;
            z-index: 1;
        }

        .email__input:focus{
            outline: none;
            color: var(--black);
        }

        .email__input:empty{
            color: var(--black);
        }

        .error{
            background-color: var(--soft-red);
            position: relative;
            top: -1.6em;
            height: 2.4em;
            width: 92%;
            font-size: calc(.8em + .1vw);
            display: flex;
            align-items: flex-end;
            font-style: italic;
            padding-bottom: .4em;
            padding-left: 1em;
            border-radius: 0 0 5px 5px;
        }

        .error::before{
            background-color: var(--soft-red);
            height: 1.8em ;
            width: 1.8em ;
            content: "!";
            position: absolute;
            top: calc( -100% + .75em);
            left:calc( 100% - 2.4em);
            color: var(--white);
            z-index: 4;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-style: normal;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 600;
        }

    .email__submit{
        background-color: var(--soft-red);
        height: 3em;
        width: 92%;
        border-radius: 5px;
        border: none;
        color: var(--white);
        font-weight: 600;
        cursor: pointer;
        box-shadow: 0 5px hsl(0, 97%, 61%);
    }

    .email__submit:hover{
        filter: brightness(1.1);
    }

    .email__submit:active{
        box-shadow: none;
        border: 2px solid hsl(0, 97%, 61%);
    }

    /* ---------------------------FOOTER---------------------------------------- */

    .footer{
        background: var(--very-dark-blue);
        width: 100%;
    }

        .footer__container{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 1440px;
            margin: 0 auto;
        }

            .footer__nav{
                width: 100%;
            }

                .footer__link , .home__link{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    margin: 2em 0;
                    color: var(--white);
                    text-transform: uppercase;
                    letter-spacing: .1em;
                }

                    .footer__link:hover{
                        color: var(--soft-red);
                    }
                    

                .footer__social{
                    margin: 1em 0;
                }

                    .footer__social .social__img--hover{
                        display: none;
                    }

                    .footer__social .social__link {
                        margin: 0 1em;
                    }

                    .footer__social .social__link:hover .social__img{
                        display: none;
                    }

                    .footer__social .social__link:hover .social__img--hover{
                        display: inline-block;
                    }


/* -320px 480px 600px 768px 1024px */

@media all and ( min-width: 320px){


}

@media all and ( min-width: 480px){

    /* -----------header--------------------- */

    .header__img{
        width: 90%;
        height: auto;
    }

    /* ------------------FEATURES-------------------- */

    .article__img{
        width: 70%;
        height: 80%;
    }
}

@media all and ( min-width: 600px){

    /* -----------header--------------------- */

    .header__img{
        width: auto;
        height: 100%;
    }

    /* ------------------FEATURES-------------------- */

    .article__img{
        width: 80%;
        height: 90%;
    }

    /* ------------------DOWNLOAD -------------------------------- */

    .download__options{
        justify-content:space-around;
    }

        .download__card{
            width: 30%;
            min-width: 200px;
        }

    /* ---------------------------FAQS------------------------------------------------ */

    .faqs{
        width: 80%;
        margin: 0 auto;
    }

    .faq__link{
        width: 30%;
    }

    /* -------------------------email----------------------------------------- */

    .email{
        padding: 2em 4%;
    }

    .sub__info ,.info ,.email__container{
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .email__container{
        flex-direction: row;
        justify-content: space-between;
        position: relative;
    }

    .email__input{
        width: 60%;
    }

    .email__submit{
        width: 30%;
    }

    .error{
        position: absolute;
        width: 60%;
        top: 3em;
        left: 0;
    }

    .error::before{
        top: calc(-100% + 1em );
    }

}

@media all and ( min-width: 768px){

    /* -----------header--------------------- */

    .header__card{
        width: 50%;
    }

        .header__title{
            text-align: left;
            font-size: calc( 1em + 2vw);
        }

        .header__paragraph{
            text-align: left;
            line-height: 1.4em;
            font-size: calc( .8em + .4vw);
        }

    .header__images{
        width: 50%;
    }

        .header__img{
            width: 96%;
            height: auto;
        }

    /* ------------------- FEATURES------------------------ */

    .features__card{
        width: 60%;
        margin: 0 auto;
    }

    .keypad{
        flex-direction: row;
        border: none;
        width: 60%;
    }

        .option.active::after{
            width: 100%;
        }

    .article.active{
        height: calc( 100vh - 50px );
        margin-top: 0;
    }

    .article__images{
        width: 50%;
    }

    .article__card{
        width: 50%;
    }

        .article__title{
            text-align: left;
            margin: 0;
        }

        .article__paragraph{
            text-align: left;
        }

        .article__link{
            display: flex;
            background: var(--soft-blue);
            height: 17%;
            width: 35%;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            color: var(--white);
        }

        .article__img--bg{
            height: 80%;
            width: 80%;
            top: 40%;
            right: 24%;
        }

/* ------------------DOWNLOAD THE EXTENSION----------------------------- */
    .download__text{
        width: 60%;
        margin: 0 auto;
    }

    .download__options{
        width: 84%;
        margin: 0 auto;
    }

    .download__card.uno{
        position: relative;
        top: 3em;
    }

    .download__card.dos{
        position: relative;
        top: 6em;
    }

    /* ---------------------------FAQ--------------------------------------------- */

    .faq{
        margin-top: 10em;
    }

        .faq__info{
            width: 55%;
            margin: 0 auto;
        }

            .faq__title{
                width: 100%;
            }

        .faqs{
            width: 55%;
            margin: 0 auto;
        }

        .faq__link{
            width: 20%;
        }

    /* -------------------------FOOTER------------------------------------------------------- */

    .footer__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 4%;
    }

    .footer__link,.home__link{
        align-items: center;
    }

    .home__link{
        width: 20%;
        margin-right: 10%;
    }

    .footer__nav{
        display: flex;
        width: 80%;
    }

    .footer__nav--links{
        display: flex;
        width: 50%;
        justify-content: space-around;
    }

}

@media all and ( min-width: 1024px){

    /* ------------navbar-------------------- */

    .links{
        background-color: transparent;
        position: static;
        height: 100%;
        width:42%;
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }

        .navbar__links{
            height: 100%;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
        }

            .navbar__link{
                width: 20%;
            }

            .navbar__link>a{
                color: var(--black);
                font-size: .9em;
            }

            .navbar__link--login{
                height: 80%;
                width: 20%;
                align-items: center;
            }

            .navbar__link--login>a{
                background-color: var(--soft-red);
                height: 60%;
                margin-top: 0;
                color: var(--white);
                font-size: .9em;
            }

        .social{
            display: none;
        }

    .btn__menu{
        display: none;
    }

    /* ----------------HEADER----------------------- */

    .header__card{
        padding-right: 8%;
    }

    .header__card--links{
        width: 70%;
    }

    .header__img--bg{
        height: 100%;
        width: 80%;
        top: 20%;
    }

    /* ------------------FEATURES-------------------- */

    .features{
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }

    .article__img{
        width: 80%;
        height: 110%;
    }

    /* -----------------DOWNLOAD AND INSTALL------------------ */

    .download{
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }

    .download__options{
        width: 70%;
    }

        .download__card{
            width: 26%;
        }

    /* --------------------------FAQ------------------------------------ */

    .faq{
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }

    .faq__link{
        width: 10%;
    }

    .faqs{
        width: 50%;
        margin: 0 auto;
    }

    .faq__info{
        width: 50%;
        margin: 0 auto;
    }

    /* -----------------------EMAIL-------------------------------- */

    .error::before{
        top: calc(-100% + .8em );
    }

    /* ---------------------footer------------------------- */

    .home__link{
        margin-right: 5%;
    }

    .footer__nav--links{
        width: 40%;
    }
}

@keyframes rotacion {

    from{
        transform: rotate( 0deg);
    }
    to{
        transform: rotate(-180deg);
    }

}

@keyframes rotacionInv {

    from{
        transform: rotate( -180deg);
    }
    to{
        transform: rotate( 0deg);
    }

}